.analysis-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .load-type-container {
    position: absolute;
    top: 60px;
    right: 0;
    width: 20%;
    height: 50px;
    z-index: 5;
    margin-right: 5%;
  }
  
  .load-type-dropdown {
    border-radius: 10px;
    background-color: var(--border-color);
    color: white;
    font-weight: 100;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: -3px;
    border-left: 5px solid var(--secondary-color);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    text-overflow: ellipsis;
    font-size: 16px;
  }
  
  .game-input-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 49.5px;
  }
  
  .game-input {
    width: 80%;
    margin-left: 5%;
    height: 100%;
    border: none;
    font-size: 16px;
    outline: none;
    padding: 15px;
    margin-top: 5px;
    resize: none;
    border-radius: 10px;
    background-color: var(--border-color);
    color: white;
  }
  
  .username-container {
    position: relative;
  }
  
  .username-input {
    font-size: 16px;
    width: 80%;
    height: 100%;
    padding: 15px;
    outline: none;
    margin-left: 5%;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    background-color: var(--border-color);
    resize: none;
    overflow: hidden;
  }
  
  .fetch-games-button {
    font-size: 20px;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    display: block;
    transform: translateY(-2px);
    position: absolute;
    top: 8px;
    right: 27%;
    margin-top: 4px;
    height: 40px;
    width: 10%;
  }
  
  .analyze-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 20px;
    background-color: var(--primary-color);
    color: white;
    text-shadow: 0px 1px 2px var(--border-color);
    width: 90%;
    border: 2px solid #4caf50;
    cursor: pointer;
    outline: none;
    user-select: none;
    box-shadow: 0px 5px 0px rgba(76, 175, 80, 0.6);
  }
  
  .analyze-button:disabled {
    border: 2px solid gray;
    box-shadow: 0px 5px 0px rgba(128, 128, 128, 0.6);
    cursor: not-allowed;
  }
  
  .analyze-button:active {
    box-shadow: 0px 0px 0px;
    transform: translateY(5px);
  }
  
  .analyze-icon {
    transition: transform 0.3s ease;
  }
  
  .analyze-button:hover .analyze-icon {
    animation: shake 0.5s;
  }
  
  @keyframes shake {
    0% { transform: rotate(0); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0); }
  }
  
  .analysis-progress {
    display: block;
    appearance: none;
    margin-top: 10px;
    height: 20px;
    width: 90%;
  }
  
  .analysis-progress::-webkit-progress-bar {
    border-radius: 5px;
    background-color: var(--primary-color);
  }
  
  .analysis-progress::-webkit-progress-value {
    border-radius: 5px;
    background-color: #4caf50;
  }
  
  .status-message {
    display: block;
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    width: 90%;
    margin-top: 10px;
    padding: 10px 3px;
  }
  
  .status-message.error {
    background-color: rgba(239, 65, 70, 0.4);
  }
  
  .status-message svg {
    margin-right: 5px;
  }
  
  .secondary-message {
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    padding: 0 5px;
    color: white;
  }
  
  .captcha-container {
    margin-top: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
  }
  
  .captcha-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .depth-container {
    width: 90%;
    padding: 10px;
    color: white;
    display: flex;
    margin-top: 15px;
    border-radius: 10px;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--primary-color);
  }
  
  .depth-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .depth-title {
    display: flex;
    align-items: baseline;
  }
  
  .depth-title p {
    margin-left: 4px;
  }
  
  .arrows-toggle {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .toggle {
    --width: 40px;
    --height: 20px;
    --border-radius: 5px;
    display: inline-block;
    cursor: pointer;
  }
  
  .toggle input {
    display: none;
  }
  
  .toggle-fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: var(--secondary-color);
    transition: background 0.2s;
  }
  
  input:checked ~ .toggle-fill {
    background: #4caf50;
  }
  
  .toggle-fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: calc(var(--width) / 2);
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
  }
  
  input:checked ~ .toggle-fill::after {
    transform: translateX(var(--height));
  }
  
  .depth-slider-container {
    display: flex;
    margin-top: 7px;
    justify-content: flex-start;
    width: 100%;
    position: relative;
  }
  
  .depth-slider {
    width: 80%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    height: 20px;
    border-radius: 5px;
    background: linear-gradient(
      to right,
      #4caf50 0%,
      #4caf50 35%,
      var(--secondary-color) 30%,
      var(--secondary-color) 100%
    );
  }
  
  .depth-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: white;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  }
  
  .depth-slider::-moz-range-thumb {
    background: white;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border: none;
  }
  
  .depth-counter {
    width: 20%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 1264px) and (min-width: 1031px) {
    .load-type-container {
      top: 55px;
    }
  }
  
  @media (max-width: 1030px) {
    .game-input {
      margin-top: 5px;
    }
    
    .username-input {
      margin-top: 5px;
    }
    
    .fetch-games-button {
      margin-top: 5px;
    }
    
    .load-type-dropdown {
      margin-top: -8px;
    }
  }