@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --border-color: #3f4248;
  --primary-color: #303338;
  --secondary-color: #1e1f22;
  --announcement-background-color: #5865f2;
}

* {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgba(49, 51, 56, 255);
  width: 100vw;
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.review-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-top: 20px;
}

.sound-fx {
  display: none;
}

@media only screen and (max-width: 960px) {
  .review-container {
    flex-direction: column;
  }
}